body{
    background:#eef3fb;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.header{
    background:linear-gradient(135deg,#0047AB,#007BFF);
}

h2{
    color:#0047AB;
}

.btn{
    transition:0.3s;
}

.btn:hover{
    background:#003580;
}
